<!--pasaremos como valor un objeto que contenga 4 keys
     con los valores-->
     <h1>Estudiante</h1>
        <h2>Nombre: <%=nombre%></h2>
        <h2>Edad: <%= edad %></h2>
        <h2>NSS: <%= nss %></h2>
        <h2>Tipo de Sangre: <%= tipoSangre%></h2>
     
    
    