<!DOCTYPE html>
<html>
  <body>
    <h1>Agregar Estudiante</h1>
    <form action="/addStudent" method="POST">
      <label for="nombre">NSS</label>
      <input type="text" name="nss" id="nss" /><br><br>
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre" /><br><br>
      <label for="nombre">Edad</label>
      <input type="text" name="edad" id="edad" /><br><br>
      <label for="nombre">Tipo de Sangre</label>
      <input type="text" name="tipoSangre" id="tipoSangre" /><br><br>

      <input type="submit" value="Submit" />

    </form>

  </body>
</html>
